body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 120rem;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  height: 2rem;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.leftSide {
  background-color: yellow;
  width: 45%;
  display: flex;
  justify-content: center;
}

.rightSide {
  background-color: green;
  width: 55%;
  display: flex;
  flex-direction: column;
}

.aboutMe {
  background-color: orange;
  height: 40%;
}

.projects {
  background-color: purple;
  height: 60%;
}

@media (max-width: 768px) {
  .container {
    min-height: auto;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .leftSide {
    width: 80%;
    /* margin: 0 auto 2rem auto; */
  }

  .rightSide {
    width: 80%;
    /* margin: 0 auto; */
  }
}
